DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=event_ticketing_db
DB_HOST=localhost
DB_PORT=5433

JWT_SECRET_KEY=dev-secret-key-change-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:8000/v1/auth/callback

INTERNAL_API_KEY=dev-internal-key
ENV=local
